@charset "utf-8";

:root {
  --mx: 1440px;
  --btn_gap: 32px;
  --gap_1: 16px;
  --gap_2: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  --point_color1: #f4bb5f;
  --point_color2: #5c96ca;
  color: #232323;
}

.mx {
  margin: 0 auto;
  max-width: var(--mx);
}

/* 커스텀 */

.top_wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 90px;
}
.logo {
  /* border: 1px solid blue; */
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90%;
  width: 90%;
}
.gnb {
  /* border: 1px solid blue; */
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  padding-left: 2rem;
  align-items: flex-end;
}
.gnb a {
  padding: var(--gap_2) var(--gap_1);
  position: relative;
  bottom: -0.25rem;

  transition: 0.3s;
}

.gnb a::before {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--point_color1);
  transition: 0.3s;
}
.m_page {
  /* border: 1px solid blue; */
  margin-right: var(--gap_2);
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.m_page a {
  /* border: 1px solid blue; */
  position: relative;
  bottom: -0.25rem;
  padding: 0 var(--gap_2);
}

.m_page svg {
  padding-top: calc(var(--gap_1) * 2);

  /* border: 1px solid red; */
}
.m_page svg path {
  transition: 0.3s;
}
/* 
.m_page a img {
  padding-top: calc(var(--gap_1) * 2);
  width: 90%;
} */

.market_btn {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.market_btn span {
  display: flex;
  background-color: var(--point_color2);
  padding: var(--gap_2) var(--gap_1);
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid var(--point_color2);
  position: relative;
  bottom: -0.75rem;
  transition: 0.3s;
}
/* header_hover */
.gnb a:hover {
  color: var(--point_color1);
}
.gnb a:hover::before {
  width: 100%;
}
.market_btn:hover span {
  background-color: var(--point_color1);
  border: 1px solid var(--point_color1);
  color: #fff;
}
.m_page a:hover svg path {
  fill: var(--point_color1);
}
.main {
  border: 1px solid darkmagenta;
}
.main_banner {
  padding-top: 30.5%;
  position: relative;
  top: 0;
  border: 1px solid red;
}
.main_banner img {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 1;
}
.main_banner .Mo {
  opacity: 0;
}

@media (max-width: 620px) {
  .main_banner {
    background-color: aqua;
    padding-top: 30.5%;
  }
  .main_banner .PC {
    opacity: 0;
  }
  .main_banner .Mo {
    opacity: 1;
  }
}
.gudok_wrap {
  position: relative;
  padding-top: 5%;
}
.gudok_btn {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  border: none;
  font-size: 2rem;
  padding: var(--gap_1) var(--btn_gap);
  color: #fff;
  background-color: var(--point_color1);
}
.gudok_btn i {
  transform: rotate(90deg);
}

.gudok_tit {
  font-size: 2rem;
  text-align: center;
  color: rgba(35, 35, 35, 0.7);
}
.gudok_tit span {
  color: #232323;
}
.gudok_wrap > div {
  border: 1px solid red;
}
.m_page a:hover svg path {
  fill: var(--point_color1);
}

/*  구독 안내 및 gif */
.explan_text {
  width: calc(100% / 2);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid yellow;
  padding: var(--gap_1);
}
.box > img {
  width: 10%;
}
.box {
  width: calc(100% / 2);
  padding: var(--gap_1);
}
.box_1 {
  border: 1px solid blue;
}
