@charset "utf-8";

:root {
  --mx: 1440px;
  --btn_gap: 32px;
  --gap_1: 16px;
  --gap_2: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  --point_color1: #f4bb5f;
  --point_color2: #5c96ca;
  color: #232323;
  --font_color70: rgba(35, 35, 35, 0.7);
}

.mx {
  margin: 0 auto;
  max-width: var(--mx);
  border: 1px solid red;
  width: calc(100% - 2rem);
}

/* 커스텀 */
.Mlogo {
  display: none;
}
.top_wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 90px;
}
.logo {
  /* border: 1px solid blue; */
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90%;
  width: 90%;
}
.gnb {
  /* border: 1px solid blue; */
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  padding-left: 2rem;
  align-items: flex-end;
}
.gnb a {
  padding: var(--gap_2) var(--gap_1);
  position: relative;
  bottom: -0.25rem;
  transition: 0.3s;
  overflow: hidden;
}

.gnb a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  border-bottom: 3px solid var(--point_color1);
  transition: 0.3s;
}
.m_page {
  /* border: 1px solid blue; */
  margin-right: var(--gap_2);
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.m_page a {
  /* border: 1px solid blue; */
  margin-top: 0.25rem;
  padding: 0 var(--gap_2);
}

.m_page svg {
  padding-top: calc(var(--gap_1) * 2);

  /* border: 1px solid red; */
}
.m_page svg path {
  transition: 0.3s;
}

.market_btn {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.market_btn span {
  display: flex;
  background-color: var(--point_color2);
  padding: var(--gap_2) var(--gap_1);
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid var(--point_color2);
  position: relative;
  bottom: -0.75rem;
  transition: 0.3s;
}
/* header_hover */
.gnb a:hover {
  color: var(--point_color1);
}
.gnb a:hover::before {
  bottom: 0;
}

.m_page a:hover svg path {
  fill: var(--point_color1);
}
.market_btn:hover span {
  background-color: var(--point_color1);
  border: 1px solid var(--point_color1);
  color: #fff;
}

/* section_banner st */

.banner {
  /* border: 10px solid yellow; */
  background-image: url(../img/indexBanner.png);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
  margin-bottom: 3rem;
  position: relative;
}
.slogan {
  border: 1px solid red;
  padding-top: 8vw;
  padding-bottom: 8vw;
  padding-left: 2rem;
  max-width: var(--mx);
  /* border: 4px solid red; */
  margin: 0 auto;
}
.slogan h2 {
  font-size: 4rem;
  /* font-size: 3vw; */
  font-weight: 500;
  color: #fff;
  padding-bottom: 2rem;
}
.slogan p {
  color: #fff;
  font-size: 1.5rem;
  /* font-size: 1.4vw; */
}
.mobile {
  display: none;
}
.slogan img {
  width: 100%;
}

/* section_service st */

.service_btn {
  font-size: 2rem;
  border: 1px solid var(--point_color1);
  background-color: var(--point_color1);
  color: #fff;
  padding: 1rem 2.5rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.service_btn::after {
  /* border: 1px solid red; */
  content: "";
  display: inline-block;
  background-image: url(../img/btn_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-left: 0.25rem;
}
.service_slogan {
  text-align: center;
  font-size: 2rem;
  color: var(--font_color70);
}
.service_slogan span {
  color: #232323;
}
.service_box > * {
  border: 1px solid aquamarine;
  width: 50%;
}

.service_box {
  /* border: 2px solid salmon; */
  display: flex;
  padding: var(--gap_1);
  flex-wrap: wrap;
}
.service_ex {
  /* border: 4px solid blanchedalmond; */
  display: flex;
}
/* ul */
.service {
  /* border: 3px solid cadetblue; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
/* li */
.service_text {
  width: 50%;
  /* border: 1px solid aqua; */
  margin-bottom: var(--gap_1);
}
.service_text:first-child {
  padding-top: 2rem;
}
.service_text > * {
  padding-bottom: var(--gap_2);
}
.service_text.text_3 {
  margin-top: 1.5rem;
}
.service_text h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* 미디어쿼리 */
@media (max-width: 830px) {
  .gnb {
    display: none;
  }
  .m_page {
    display: none;
  }
  .slogan {
    /* padding-bottom: 3vw; */
  }
  .slogan h2 {
    display: none;
  }
  .slogan .pc {
    display: none;
  }
  .slogan .mobile {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .slogan .mobile > p {
    font-size: 1.25rem;
  }
  .slogan .mobile > img {
    margin-top: 1rem;
    width: 100px;
  }
  .service_box > * {
    border: 1px solid aquamarine;
    width: 100%;
  }
  .service_btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    bottom: -1rem;
  }
  .service_btn::after {
    /* border: 1px solid red; */
    background-size: 100%;
    width: 12px;
    height: 12px;
    margin-left: 0.1rem;
  }
  .service_text {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .top_wrap {
    align-items: center;
  }
  .logo > a {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pcLogo {
    display: none;
  }

  .Mlogo {
    display: block;
  }

  .m_page {
    /* border: 1px solid dodgerblue; */
    margin-right: 0;
    display: flex;
  }
  .m_page a svg {
    padding: 0;
  }
  .m_page a:last-of-type {
    display: none;
  }
  .market_btn {
    display: none;
  }
  .slogan .mobile {
    /* border: 1px solid red; */
    width: 100%;
  }
  .slogan .mobile > p {
    font-size: 1rem;
  }
  .slogan .mobile > img {
    margin-top: 1rem;
    width: 70px;
  }
}
