@charset "utf-8";
/* :root {
  --mx: 1440px;
  --btn_gap: 32px;
  --gap_1: 16px;
  --gap_2: 8px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  --point_color1: #f4bb5f;
  --point_color2: #5c96ca;
  color: #232323;
  --font_color70: rgba(35, 35, 35, 0.7);
  --font_color50: rgba(35, 35, 35, 0.5);
  --font_colorBK: #000;
  --font_colorGY: #696868;
  font-size: 16px;
}
.mx {
  margin: 0 auto;
  max-width: var(--mx);
  width: calc(100% - 2rem);
} */

/* footer st */
footer {
  margin-top: 5rem;
  background-color: #919191;
}

.footer_text {
  color: #fff;
  font-size: 0.85rem;
}
.footer_text > p {
  padding: 0.5rem 0 0;
}
.footer_text > p:nth-child(3) span {
  font-weight: bold;
}
.footer_text > p span {
  padding-right: 0.5rem;
}
.footer_tit {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_tit span {
  display: flex;
  justify-content: flex-end;
}
.footer_tit span a {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.footer_tit span a img {
  width: 80%;
}

.sv_link {
  padding-bottom: 1rem;
  display: block;
  text-decoration: underline;
  text-align: right;
}

@media (max-width: 420px) {
  .footer_tit {
    display: block;
  }
  .footer_tit span {
    /* border: 1px solid red; */
    display: flex;
    width: 70%;
  }
  .footer_tit span a img {
    /* border: 5px solid green; */
    width: 100%;
  }
}
