@charset "utf-8";
@import url(./header.css);
@import url(./footer.css);
:root {
  --mx: 1440px;
  --btn_gap: 32px;
  --gap_1: 16px;
  --gap_2: 8px;
  --gap_3: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  --point_color1: #f4bb5f;
  --point_color2: #5c96ca;
  --point_color3: #5197f2;
  color: #232323;
  --font_color70: rgba(35, 35, 35, 0.7);
  --font_color50: rgba(35, 35, 35, 0.5);
  --font_colorBK: #000;
  --font_colorGY: #696868;
  font-size: 16px;
}

.wrap {
  overflow: hidden;
}
.mx {
  margin: 0 auto;
  max-width: var(--mx);
  width: calc(100% - 2rem);
}

/* 커스텀 */
img {
  width: 70%;
}
.main {
  background-color: #f4f4f4;
  margin-top: 2rem;
  margin-bottom: 2vw;
  letter-spacing: -3px;
}

.service_wrap {
  /* border: 1px solid red; */
  padding: 2vw 5.5vw;
  display: flex;
  flex-wrap: wrap;
}
.service_wrap > * {
  flex: 1;
  /* border: 2px solid dodgerblue; */
}
.mini_thumbnail {
  /* border: 1px solid pink; */
  display: flex;
  padding-top: 1vw;
}
.mini_thumbnail img {
  width: 20%;
  padding-right: 1vw;
  cursor: pointer;
}

.purchase h2 {
  font-size: 1.75rem;
  /* font-size: 3.5vw; */
  font-weight: 400;
  padding-bottom: var(--gap_1);
  /* border: 1px solid red; */
}
.box {
  /* border: 1px solid red; */
  padding: 1vw 0;
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
}
.name_box {
  font-size: 1.25rem;
  /* font-size: 2.5vw; */
  font-weight: 400;
}

.select_box {
  width: 200px;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  padding: 0.25rem 0;
}
.box_total {
  /* border: 1px solid red; */
  margin-top: 3rem;
}
div.btn_wrap {
  padding-right: 0;
  justify-content: center;
}
.btn {
  font-size: 1rem;
  border: 1px solid var(--point_color1);
  background-color: var(--point_color1);
  color: #fff;
  padding: 0.5rem 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.service_btn_1 {
  margin-right: var(--gap_1);
}
.clickSection {
  display: none;
}
/* section st */
.sec_1 {
  background-color: #fff;
}
.tit {
  /* border: 1px solid red; */
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.tit > p {
  padding: 0 2rem;
  text-align: center;
}

.ring {
  position: relative;
}
.ring::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #232323;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.content_text {
  padding: var(--gap_3) 1rem 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.content_text > span {
  color: var(--point_color1);
}

.card_box {
  /* border: 1px solid red; */
  padding: var(--btn_gap) 10rem;
  display: flex;
  justify-content: space-between;
}
.card {
  /* border: 1px solid red; */
  transition: 0.5s;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.card:first-child {
  margin-right: 1rem;
}
.card:hover {
  overflow: hidden;
  cursor: pointer;
  transform: translateY(-20px);
}
.card img {
  width: 100%;
}

.card_slogan {
  padding: 0 1rem var(--gap_2);
}
.money {
  font-size: 1.5rem;
  padding: 0 1rem var(--gap_1);
}
.money span:first-child {
  color: var(--point_color3);
  font-weight: 500;
}

.money span:last-child {
  font-weight: 400;
}

.curation_box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0.75rem;
}
.curation_box p {
  /* border: 1px solid red; */
  padding: 0.25rem 0;
}
.curation_box p:first-child {
  font-weight: 500;
}
.curation_box p:first-child > span {
  color: #fff;
  font-size: 0.8rem;
  position: relative;
  content: "1";
  border: 1px solid var(--point_color2);
  background-color: var(--point_color2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 10px;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.curation_box p:last-child {
  text-align: right;
}
.curation_2 p:first-child span {
  background-color: var(--point_color1);
  border-color: var(--point_color1);
}

/* previev st */
/* article */
.preview_wrap {
  padding: var(--gap_1, 0);
}
.preview_box {
  display: none;
  flex-direction: column;
  align-items: center;
}

.previev_sub_tit {
  padding: 0.5rem 0;
}
/* ul */
.preview_content {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  overflow: hidden;
  /* border: 5px dashed red; */
  justify-content: space-around;
}
.preview_card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  /* padding: 1rem 2rem 0; */
}
.preview_card > p {
  text-align: center;
  padding: 0 0.5rem var(--gap_1);
}
.preview_card:hover .img_box {
  background-size: 80%;
}
.img_box {
  padding-top: 100%;
  background: url(../img/담화박스미리보기1.png) center center / 70% no-repeat;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.preview_card:nth-of-type(2) .img_box {
  background-image: url(../img/담화박스미리보기2.png);
}
.pre_1 .preview_card:nth-of-type(3) .img_box {
  padding-top: 90%;
  background-image: url(../img/담화박스미리보기3.png);
}
.check_box {
  display: flex;
  width: 100%;
  padding: 0 0.75rem;
}
.check_box > * {
  flex: 1;
}
.check > p {
  display: flex;
}
.check span {
  width: 50%;
  padding: 0.25rem 0;
}
.check_ring img {
  display: inline-block;
  margin-right: 0.15rem;
  width: 12%;
}
.check_content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.check_content > * {
  padding-top: var(--gap_2);
}
.check_content p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* 구독페이지 담화박스 미리보기 페이지네비게이션 */
.pagenavi {
  display: none;
}
.announcement {
  padding-top: 3rem;
}
/* 증류 담화박스 레이아웃 */
.pre_2 .preview_card:nth-of-type(1) .img_box {
  background-image: url(../img/증류담화박스미리보기1.png);
  padding-top: 85%;
  background-size: 55%;
}
.pre_2 .preview_card:nth-of-type(2) .img_box {
  background-image: url(../img/증류담화박스미리보기2.png);
}
.pre_2 .preview_card:nth-of-type(3) .img_box {
  background-image: url(../img/증류담화박스미리보기3.png);
}

.main,
.clickSection {
  margin-bottom: 3rem;
}

/* 구독서비스 리뷰페이지 */

.product {
  border-bottom: 1px solid var(--font_color50);
}
.product > * {
  padding-bottom: var(--gap_1);
}
.product_star {
  max-width: 300px;
  display: flex;
  align-items: center;
}
.product_star > img {
  width: 8%;
}
.product_imgWrap {
  display: flex;
}
.product_img {
  max-width: 100px;
  margin-right: var(--gap_2);
}
.product_img img {
  width: 100%;
}
/* 상품후기 페이지네비게이션  st*/
.pageNavigation {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.pageNavigation span {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}
.prouduct_prev {
  position: relative;
}
.prouduct_prev::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  border: 1px solid var(--point_color1);
  border-width: 1px 0 0 1px;
  transform: translate(-50%, -40%) rotate(-45deg);
}
.prouduct_next {
  position: relative;
}
.prouduct_next::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 100%;
  top: 50%;
  border: 1px solid var(--point_color1);
  border-width: 1px 1px 0 0;
  transform: translate(-50%, -40%) rotate(45deg);
}
/* js click active */
/*  상품정보(기본), 상품후기 를 클릭했을 때 동작 */
.clickSection.active {
  display: block;
}
.tit.active .tit_on {
  color: var(--point_color3);
  text-decoration: underline;
  font-weight: 500;
}
/* 담화박스(기본), 증류주담화를 클릭했을 때 동작 */
.preview_box.active {
  display: flex;
}
.tit > *.active {
  color: var(--point_color3);
  text-decoration: underline;
  font-weight: 500;
}
.ring::before.active {
  background-color: var(--point_color3);
}
.previev_sub_tit.active > span {
  color: var(--point_color3);
  text-decoration: underline;
  font-weight: 500;
}
/* 증류담화박스를 클릭 했을 때 */
@media (max-width: 1200px) {
  .card_box {
    padding: var(--btn_gap) 0;
    justify-content: space-evenly;
  }
  .preview_card {
    margin-right: 1rem;
  }

  .preview_card:last-of-type {
    margin-right: 0;
  }
  .img_box {
    padding-top: 70%;
    background-size: 50%;
  }
  .preview_card:nth-of-type(3) .img_box {
    padding-top: 63%;
  }
  .preview_card:hover .img_box {
    background-size: 60%;
  }
}

@media (max-width: 1000px) {
  .service_wrap {
    /* border: 1px solid red; */
    padding: 2vw 0;
    display: flex;
    flex-wrap: wrap;
  }

  .name_box {
    font-size: 1.25rem;
    /* font-size: 2.5vw; */
    font-weight: 400;
  }

  .select_box {
    width: 200px;
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    padding: 0.25rem 0;
  }
  img {
    width: 100%;
  }
  .thumbnail {
    min-width: 300px;
  }
  .mini_thumbnail {
    min-width: 100px;
  }
  .purchase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }
  .box {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 0 0.85rem;
  }
  .box_total {
    margin-top: 2.5vw;
  }
  .purchase h2 {
    font-size: 1.5rem;
  }
  .box_total {
    /* border: 1px solid red; */
    margin-top: 3rem;
  }
  div.btn_wrap {
    padding-right: 0;
    justify-content: center;
  }
  .btn {
    font-size: 1rem;
    border: 1px solid var(--point_color1);
    background-color: var(--point_color1);
    color: #fff;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .service_btn_1 {
    margin-right: var(--gap_1);
  }

  .card_box {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .preview_content {
    position: relative;
    /* background-color: #dfdf; */
  }
  .preview_card {
    min-width: 350px;
  }
  .pagenavi {
    width: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .pagenavi > span {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--point_color1);
  }
}
@media (max-width: 840px) {
  .thumbnail {
    display: flex;
    justify-content: center;
  }

  .btn {
    font-size: 1rem;
    color: #fff;
    padding: 0.25rem 1rem;
  }
  .tit {
    font-size: 1.25rem;
  }
  .content_text {
    font-size: 1.5rem;
  }
  .card_slogan {
    font-size: ;
  }
  .money {
    font-size: 1.25rem;
  }
  .curation_box {
    font-size: 0.85rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .curation_box p:first-child {
    white-space: nowrap;
  }
  .curation_box p:last-child {
    text-align: left;
  }
}
@media (max-width: 680px) {
  .service_wrap {
    display: block;
  }
  .purchase h2 {
    margin-top: 5vw;
    font-size: 1rem;
    letter-spacing: -4px;
  }
  .mini_thumbnail img {
    display: none;
  }
  .purchase {
    margin-left: 0;
  }

  .select_box {
    width: 100%;
  }
  .purchase h2 {
    font-size: 1.75rem;
    /* font-size: 3.5vw; */
    font-weight: 400;
    padding-bottom: var(--gap_1);
    /* border: 1px solid red; */
  }
  .btn_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card_box {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0;
  }
  .card {
    /* border: 1px solid #232323; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    width: 100%;
    flex: 0;
  }
  .card:hover {
    transform: translateY(0);
  }
  .preview_box.mx {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .card {
    min-width: 350px;
  }
  .preview_content {
    position: relative;
    width: calc(100% - 1rem);
    /* background-color: #dfdf; */
  }
  .preview_card {
    font-size: 0.75rem;
    /* border: 1px solid red; */
    min-width: 300px;
  }
  .preview_box.mx {
    width: 100%;
  }
  .announcement {
    font-size: 0.85rem;
  }
}
