@charset "utf-8";
@import url(./header.css);
@import url(./footer.css);
:root {
  --mx: 1440px;
  --btn_gap: 32px;
  --gap_1: 16px;
  --gap_2: 8px;
  --gap_3: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  --point_color1: #f4bb5f;
  --point_color2: #5c96ca;
  --point_color3: #5197f2;
  color: #232323;
  --font_color70: rgba(35, 35, 35, 0.7);
  --font_color50: rgba(35, 35, 35, 0.5);
  --font_colorBK: #000;
  --font_colorGY: #696868;
  font-size: 16px;
}
.wrap {
  overflow: hidden;
}
.mx {
  margin: 0 auto;
  max-width: var(--mx);
  width: calc(100% - 2rem);
}

/* 커스텀 */
img {
  width: 70%;
}
.main {
  background-color: #f4f4f4;
  margin-top: 2rem;
  margin-bottom: 2vw;
}

.service_wrap {
  /* border: 1px solid red; */
  padding: 2vw 5.5vw;
  display: flex;
  flex-wrap: wrap;
}
.service_wrap > * {
  flex: 1;
  /* border: 2px solid dodgerblue; */
}
.mini_thumbnail {
  /* border: 1px solid pink; */
  display: flex;
  padding-top: 1vw;
}
.mini_thumbnail img {
  width: 20%;
  padding-right: 1vw;
  cursor: pointer;
}

.purchase h2 {
  font-size: 1.75rem;
  /* font-size: 3.5vw; */
  font-weight: 400;
  padding-bottom: var(--gap_1);
  /* border: 1px solid red; */
}
.box {
  /* border: 1px solid red; */
  padding: 1vw 0;
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
}
.name_box {
  font-size: 1.25rem;
  /* font-size: 2.5vw; */
  font-weight: 400;
}

.select_box {
  width: 200px;
  border: 1px solid #9e9e9e;
  color: #9e9e9e;
  padding: 0.25rem 0;
}
.box_total {
  /* border: 1px solid red; */
  margin-top: 3rem;
}
div.btn_wrap {
  padding-right: 0;
  justify-content: center;
}
.btn {
  font-size: 1rem;
  border: 1px solid var(--point_color1);
  background-color: var(--point_color1);
  color: #fff;
  padding: 0.5rem 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.service_btn_1 {
  margin-right: var(--gap_1);
}

/* section_1 st */

.content_tit {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  text-align: center;
}
.content_tit::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #232323;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content_text {
  padding-top: var(--gap_3);
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.content_text > span {
  color: var(--point_color1);
}

.card_box {
  padding: var(--btn_gap) 11rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.card {
  /* border: 1px solid red; */
}
.card img {
  width: 100%;
}

.card_slogan {
  color: rgba(35, 35, 35, 0.8);
  padding-bottom: var(--gap_2);
}
.money {
  font-size: 1.5rem;
  padding-bottom: var(--gap_1);
}
.money span:first-child {
  color: var(--point_color3);
  font-weight: 500;
}

.money span:last-child {
  font-weight: 400;
}

.curation_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 0.75rem;
  /* border: 2px solid violet; */
}
.curation_box p {
  /* border: 1px solid red; */
  padding: 0.25rem 0;
}
.curation_box p:first-child {
  font-weight: 500;
}
.curation_box p:first-child > span {
  color: #fff;
  font-size: 0.8rem;
  position: relative;
  content: "1";
  border: 1px solid var(--point_color2);
  background-color: var(--point_color2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  line-height: 10px;
  border-radius: 50%;
  margin-right: 0.25rem;
}
.curation_box p:last-child {
  text-align: right;
}
.curation_2 p:first-child span {
  background-color: var(--point_color1);
  border-color: var(--point_color1);
}

@media (max-width: 1000px) {
  img {
    width: 80%;
  }
  .service_wrap {
    /* border: 1px solid red; */
    padding: 2vw 0;
    display: flex;
    flex-wrap: wrap;
  }
  .purchase h2 {
    /* font-size: 1.75rem; */
    margin-top: 5vw;
    font-size: 1.25rem;
  }
  .box {
    padding-right: 0;
  }
}
@media (max-width: 700px) {
  .service_wrap {
    display: block;
    /* border: 1px solid red; */
  }
  .service_wrap > * {
    width: 100%;
    /* border: 2px solid dodgerblue; */
  }
  .mini_thumbnail {
    /* border: 1px solid pink; */
    display: flex;
    padding-top: 1vw;
  }
  .mini_thumbnail img {
    width: 20%;
    padding-right: 1vw;
    cursor: pointer;
  }
}
@media (max-width: 420px) {
}
